@{
    ViewBag.Title = "DropDownList DatePicker - Demo";
}

<h2>DropDownList DatePicker - Demo</h2>

<ul class="list-group">
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.1
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part1.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample1")" target="_blank">Sample 1</a>
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.2
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part2.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample2")" target="_blank">Sample 2</a>
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.3 - Editor Templates
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part3-editor-templates.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample3")" target="_blank">Sample 3</a>
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.4 - Editor Templates
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part4-editor-templates.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample4")" target="_blank">Sample 4</a>
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.5 - Editor Templates
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part5-editor-templates.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample5")" target="_blank">Sample 5</a>
    </li>
    <li class="list-group-item">
        @("ASP.NET MVC - 下拉選單的日期選擇器 Part.6 - @helper ?")
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part6-helper.html" target="_blank">
            文章說明
        </a>
        <br />
        沒有 Sample 6 喔
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 Part.7 - Validation
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/08/aspnet-mvc-part7-validation.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample7")" target="_blank">Sample 7</a>
    </li>
    <li class="list-group-item">
        ASP.NET MVC - 下拉選單的日期選擇器 - 年齡限制
        <br />
        <a href="http://kevintsengtw.blogspot.tw/2014/09/aspnet-mvc.html" target="_blank">
            文章說明
        </a>
        <br />
        <a href="@Url.Action("Sample8")" target="_blank">Sample 8</a>
    </li>
</ul>
